<footer id="site-footer" role="contentinfo">
    <div id="inner-footer" class="row">
        <div class="large-3 medium-6 small-12 columns">
            <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title footer-title">Sitemap</a>
                    <div class="accordion-content" data-tab-content>
                        <ul id="menu-sitemap" class="menu vertical">
                            <li class="menu-item"><a href="#top">Home</a></li>
                            <li class="menu-item"><a href="#welcome-text">Welcome</a></li>
                            <li class="menu-item"><a href="#portfolio">Portfolio</a></li>
                            <li class="menu-item"><a href="#services">Leistungen</a></li>
                            <li class="menu-item"><a href="#contact">Kontakt</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title footer-title">Info</a>
                    <div class="accordion-content" data-tab-content>
                        <ul id="menu-info" class="menu vertical">
                            <li class="menu-item"><a href="https://so-dsgn.de/datenschutz/">Datenschutzerklärung</a></li>
                            <li class="menu-item"><a href="https://so-dsgn.de/impressum/">Impressum</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title footer-title">Büro</a>
                    <div class="accordion-content" data-tab-content>
                        <div itemscope="" itemtype="http://schema.org/Organization">
                            <ul class="menu vertical">
                                <li><div itemprop="name">SO_DSGN</div></li>
                            </ul>
                            <ul class="menu vertical" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                <li><div>Sören Oehding</div>
                                </li>
                                <li><div itemprop="streetAddress">Lessingstrasse 12 - 14</div></li>
                                <li><div itemprop="postalCode">69115</div><div itemprop="addressLocality"> Heidelberg</div></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                <li class="accordion-item is-active" data-accordion-item>
                    <a href="#" class="accordion-title footer-title">Connect</a>
                    <div class="accordion-content" data-tab-content>
                        <ul class="menu vertical">
                            <li menu-item=""><i class="fa fa-phone"></i> <a href="tel:+4917661330934">+49 176 61330934</a></li>
                            <li menu-item=""><i class="fa fa-envelope"></i> <a href="mailto:info@so-dsgn.de">info@so-dsgn.de</a></li>
                            <li menu-item=""><i class="fa fa-globe"></i> <a href="http://so-dsgn.de">http://so-dsgn.de</a></li>
                        </ul>
                        <br>
                        <ul class="menu vertical">
                            {{> social-links }}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="large-12 medium-12 columns">
            <p class="source-org copyright"><small>Built with&nbsp;<i class="fa fa-heart"></i>&nbsp;and&nbsp;<i class="fa fa-snapchat-ghost"></i>&nbsp;by&nbsp;<a href="https://github.com/s-oehding">&nbsp;Søren&nbsp;Oehding</a>&nbsp;SO_DSGN.&nbsp;©&nbsp;2016</small></p>
        </div>
    </div>
</footer>
