<ul id="home-nav" class="medium-horizontal vertical dropdown menu" data-magellan>
    <li class="menu-item"><a href="#welcome">Hi!</a></li>
    <li class="menu-item"><a href="#services">Leistungen</a></li>
    <li class="menu-item"><a href="#portfolio">Portfolio</a></li>
    <li class="menu-item"><a href="#contact">Kontakt</a></li>
    <li class="menu-item nav-blog"><a href="/tag/blog/">Blog</a></li>
</ul>