
<ul class="medium-horizontal vertical dropdown menu">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="menu-item nav-blog nav-{{slug}}{{#if current}} active{{/if}}"><a href="{{url absolute="false"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
</ul>