<li><i class="fa fa-github"></i> <a title="GitHub" href="https://github.com/s-oehding">Github</a></li>
<li><i class="fa fa-twitter"></i> <a title="twitter" href="https://twitter.com/monokultur">Twitter</a></li>
<li><i class="fa fa-linkedin"></i> <a title="Linkedin" href="https://www.linkedin.com/in/soehding">Linkedin</a></li>
<li><i class="fa fa-soundcloud"></i> <a title="SoundCloud" href="https://www.soundcloud.com/minimal-gestoert">Soundcloud</a></li>
