{{!< default}}
<div id="top" class="post-header">
	{{#author}}
	<div class="parallax">
		<figure class="parallax-background parallax-window" {{#if author.cover}}style="background-image: url({{author.cover}});"{{else}}style="background-image: url('http://placekitten.com/g/1280/720');" {{/if}} alt="" style="display: none; visibility: hidden;"></figure>
	</div>
	<section class="triangle">
	    <div class="post-title-content os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.25s">
	        <h1 class="">{{{title}}}</h1><h1 class="">{{{name}}}</h1>
	    </div>
	    <hr>
	</section>
	{{/author}}
</div>
<main id="main" class="archive">
    {{> loop}}
</main>