{{!< default}}
<main id="main" class="home">
	<section id="parallax-hero" class="has-parallax">
		{{> sections/hero/hero}}
	</section>
	<section id="welcome" class="dark" data-magellan-target="welcome">
		{{> sections/welcome/welcome}}
	</section>
	<section id="portfolio" data-magellan-target="portfolio">
		{{> sections/portfolio/portfolio}}
	</section>
	<section id="parallax-window">
		{{> sections/window/window}}
	</section>
	<section id="services" data-magellan-target="services">
		{{> sections/services/services}}
	</section>
	<section id="contact" data-magellan-target="contact">
		{{> sections/contact/contact}}
	</section>
</main>