{{!< default}}
<main id="main" class="home">
	<div id="#ajax-container">
		<section id="parallax-hero" class="has-parallax">
			{{> sections/hero/hero}}
		</section>
		<section id="welcome" class="dark" data-magellan-target="welcome">
			{{> sections/welcome/welcome}}
		</section>
		<section id="portfolio" data-magellan-target="portfolio">
			{{> sections/portfolio/portfolio}}
		</section>
		<section class="shadow" id="parallax-window">
			{{> sections/window/window}}
		</section>
		<section id="services" data-magellan-target="services">
			{{> sections/services/services}}
		</section>
		<section id="contact" data-magellan-target="contact">
			{{> sections/contact/contact}}
		</section>
		<section id="blog" data-magellan-target="blog">
			{{> sections/blog/blog}}
		</section>
	</div>
</main>