#post-index {
    background: $white;
}
section {
    &.feed {
        article {
        	margin-bottom: rem-calc(30);
            .card{
                background: $white;
                box-shadow: none;
                overflow: hidden;
                position: relative;
                transition: all ease-in-out 0.2s;
                display: flex;
                align-items: center;
                border: none;
                .card-image{
                    overflow: hidden;
                    position: relative;
                    background-size: cover;
                    img{
                        transform: scale(1);
                        transition: all ease-in-out 0.2s;
                        position:relative;
                        height: 18vw;
                        object-fit: cover;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        /* left: -5%; */
                        right: -53%;
                        bottom: 45%;
                        width: 110%;
                        height: 4em;
                        background: $white;
                        box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
                        transform: rotate(-88deg);
                        border-top: 0px solid $primary-color;
                        transition: all ease-in-out 0.2s;
                    }
                }
                .card-content{
                    padding: rem-calc(20);

                    .post-content {
                        margin: 0;
                        .post-title {
                            display: block;
                        }
                        p {
                            margin-top: .5rem;
                        }
                    }
                    .post-meta {
                        margin: .5rem;
                        border:none;
                    }
                    .callout {
                        margin: 0;
                        padding-left: .25rem;
                        padding-top: .25rem;
                    }
                }
                &:hover{
                    .card-image{
                        img{
                            transform: scale(1.1);
                        }
                        &::after{
                            border-top: 4px solid $primary-color;
                            box-shadow: 0 0 2em rgba(0,0,0,0.2);
                        }
                    }
                }
            }
            .post-title {
                position: relative;
                display: inline-block;
            }
            .post-content {
            	margin-bottom: rem-calc(10);
            }
            .post-title {
                position: relative;
                color: $black;
            }
            .post-meta {
                font-size: rem-calc(12);
                margin-bottom: rem-calc(10);
                .date {}
                .author {}
                .tags {}
            }
        }
    }
}

@include breakpoint(small) {
    .feed {
        .card-image {
            img {
                height: 80vh;
            }
        }
    }
}

@include breakpoint(medium) {
    .feed{
        .card-image {
            img {
                height: 100vw;
            }
        }  
    }
}

@include breakpoint(large) {
    .feed{
        .card-image {
            img {
                height: 45vw;
            }
        }
    }
}
