$color-base:			$dark-gray;
$color-white:			$white;
$color-gray:			$medium-gray;

//nav

$nav-color: 			$black;
$nav-color-hover:		$primary-color;
$nav-font-size: 		rem-calc(50);
$nav-rounded: 			3px;
$nav-margin: 			5px;
$nav-padding: 			4px 7px;
$nav-background: 		none;
$nav-background-hover:	none;
$nav-disabled-opacity: 	0.5 !default;

//dots

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;

.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 0px;
		text-align: center;
		position: absolute;
	    display: flex;
    	align-items: center;
    	justify-content: space-between;
		top: 0;
		width: 97.5%;
		height: 100%;
		z-index: -10;
		[class*='owl-'] {
			background: none;
			color: $nav-color;
			font-size: $nav-font-size;
			margin: $nav-margin;
			padding: $nav-padding;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
			&:hover {
				background: $nav-background-hover;
				color:$nav-color-hover;
				text-decoration: none;
			}
		}
		.owl-next{
			margin-right: -10%;
		}
		.owl-prev{
			margin-left: -10%;
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}

			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
			}
		}
	}
}
