<section class="layout-row-top">
	<div class="small-12 columns"><h3 class="section-title">Blog<hr class="h-line"></h3></div>
    <div class="medium-8 columns">
    <p><img src="http://placehold.it/900x450&amp;text=Promoted Article" alt="main article image"></p>
    </div>
    <div class="medium-4 columns">
    <p><img src="http://placehold.it/400x200&amp;text=Other cool article" alt="article promo image"></p>
    <p><img src="http://placehold.it/400x200&amp;text=Other cool article" alt="article promo image"></p>
    </div>
</section>