<section class="parallax-video">
	<div id="video-wrap" class="video-wrap">
    	<video preload="metadata" autoplay loop id="video">
        	<source src="{{asset "/videos/waves.mov"}}" type="video/mp4">
    	</video>
	</div>
</section>	