<div id="top" class="hero-wrapper show-for-medium">
  <div class="parallax">
    <div class="parallax-background header-image" style="background-image: url({{@blog.cover}});" alt="" style="display: none; visibility: hidden;"></div>
  </div>
    <div class="header-image-overlay">
        <div class="header-image-text">
            <h1>Søren Oehding</h1>
            <h4>
            <div id="strings" style="display:none;">
              <p>Webdesign</p>
              <p>Grafikdesign</p>
              <p>Fotografie</p>
              <p>E-Commerce</p>
            </div>
            <span id="typed"></span>
            </h4>
        </div>
        {{>links}}
    </div>
    <div class="arrow-down" data-magellan>
        <a href="#welcome-text"><i class="fa fa-chevron-down animated bounceInUp"></i></a>
    </div>
</div>