<div id="top" class="post-header">
	{{#tag}}
	    <div class="parallax">
	    	<figure class="parallax-background parallax-window" {{#if image}}style="background-image: url({{image}});"{{else}}style="background-image: url('//placekitten.com/g/1280/720');" {{/if}} alt="" style="display: none; visibility: hidden;"></figure>
	    </div>
	    <section class="triangle">
	    <section class="row">
		    <div class="post-title-content columns small-12">
	            <h1 class="revealer" data-animation-in="fadeInUp" data-animation-out="fadeOutDown" data-os-animation-delay="0.25s">{{{name}}}</h1>
	        </div>
	        <hr>
	        {{#if description }}
	        <div class="columns small-12">
	        	<p>{{{ description }}}</p>
	        </div>
	        {{/if}}
	        </section>
	    </section>
	{{/tag}}
</div>