/*********************
FOOTER STYLES
*********************/
#site-footer {
	background:$black;
	clear: both;
	color: $dark-gray;
	margin-top: 1em;
	.footer-title{
		color: $primary-color;
		font-weight: bold;
		padding: 1rem 0;
		width: 100%;
		&.open{
			&::after{
				content:'';
			}
		}
	}

	#inner-footer{
		padding-top: 3rem;

		.accordion{
			background: transparent;

			.accordion-item{
				.accordion-title{
					background: transparent;
					border: none;
					border-bottom: 1px solid $primary-color;
				}
				.accordion-content{
					background: none;
					border: none;
				}
			}
		}

		.menu{
			padding-bottom: 1rem;
			li{
				a{
					display: inline-flex;
					color: $dark-gray;
					@include transition(color, 0.2s, ease-in-out);
					&:hover{
						color: $primary-color;
					}
				}
				i{
					width: 1.5rem;
					display: inline-block;
					color: $primary-color;
				}
			}
		}
	}
}

@include breakpoint(medium) {
	#site-footer {
		background:$black;
		clear: both;
		color: $dark-gray;
		margin-top: 1em;
		.footer-title{
			color: $primary-color;
		}

		#inner-footer{
			padding-top: 3rem;
		}
	}
}