/*********************
PARALLAX STYLES
*********************/

.post-header {
    position: relative;
    .parallax-window {
        top: 0;
        min-height: 65vh;
        height: 65vh;
        background: transparent;
        margin-top: 0;
        position: relative;
    }
    .post-title {
        position: absolute;
        width: 100%;
        top: 50%;
        text-align: center;
        h1 {
            color: white;
            text-shadow: 2px 2px 4px #000000;
        }
    }
}

.meta {
        background: $white;
        padding: rem-calc(20);
        position: absolute;
        z-index: 600;
        @include transition(all 0.5s ease-in-out);
        .label {
            margin-right: rem-calc(2.5);
        }
        &::after{
            content: '';
            position: absolute;
            left: -5%;
            top: -3rem;
            width: 110%;
            height: 6em;
            background: #fff;
            border-top: 4px solid $primary-color;
            // box-shadow: 0 0 2em rgba(0,0,0,0.2);
            -webkit-transform: rotate(-2.5deg);
            transform: rotate(-2.5deg);
            @include transition(all 0.5s ease-in-out);
            z-index: -1;
        }
        }
.post-title-content {
    text-align: center;
}

// .post-title {
//     position: absolute;
//     width: 100%;
//     top: 50%;
// }

.post-content{
    margin-top: 4rem;
}
