{{#post}}
<div class="medium-6 small-12 columns">
    <h1 class="page-title jumbo-headline">{{title}}</h1>
</div>
<div class="large-5 align-right columns">
    <h3 style="text-align: left;">Ich bin&nbsp;Søren, Webentwickler &amp; Grafikdesigner aus&nbsp;Heidelberg.</h3>
    <blockquote>
        {{content}}
    </blockquote>
</div>
{{/post}} 