<section id="welcome-text" class="layout-row-center">
    <div class="medium-5 columns os-animation " data-os-animation="slideInLeft" data-os-animation-delay="0s">
        <h1 class="headline" style="margin-bottom: 2rem;">Hallo, schön, dass Sie da sind</h1>
    </div>
    <div class="medium-7 columns os-animation" data-os-animation="slideInRight" data-os-animation-delay="0s">
        <h3 style="text-align: left;">Ich bin&nbsp;Søren, Webentwickler &amp; Grafikdesigner aus&nbsp;Heidelberg.</h3>
        <blockquote>
            <p style="text-align: left;">Ich konzipiere, gestalte&nbsp;und entwickle Webseiten und Onlineshops. Dabei achte ich darauf&nbsp;stets den neuesten Technologien&nbsp;zu folgen um Ihr Produkt perfekt und zeitgemäß zu präsentieren. Ich arbeite an umfangreichen Jobs für große und mittelständische Unternehmen sowie für kleine Budgets – entspannt, persönlich, unkompliziert und mit gestalterisch-technisch hohem Anspruch.&nbsp;Ich mag schlichtes und elegantes Design und lege viel Wert auf Typografie, Farbgebung und Benutzerfreundlichkeit. Einen Überblick über meine Leistungen und Fähigkeiten finden Sie weiter unten.</p>
        </blockquote>
    </div>
</section>