{{!-- <div class="meta"></div> --}}
<section id="welcome-text" class="layout-row-center dark" data-magellan-target="welcome-text">
    <div class="medium-5 columns revealer" data-animation-in="slideInLeft" data-animation-out="slideOutLeft" data-animation-delay="0">
        <h1 class="headline" style="margin-bottom: 2rem;">Hallo, schön, dass Sie da sind</h1>
    </div>
    <div class="medium-7 columns revealer" data-animation-in="slideInRight" data-animation-out="slideOutRight" data-animation-delay="0">
        <h3 style="text-align: left;">Ich bin&nbsp;Søren, Webentwickler &amp; Grafikdesigner aus&nbsp;Heidelberg.</h3>
        <blockquote>
            <p>Ich konzipiere, gestalte und entwickle Webseiten und Onlineshops. Dabei achte ich darauf stets den neuesten Technologien zu folgen um Ihr Produkt perfekt und zeitgemäß zu präsentieren. Ich arbeite an umfangreichen Jobs für große und mittelständische Unternehmen sowie für kleine Budgets – entspannt, persönlich, unkompliziert und mit gestalterisch-technisch hohem Anspruch. Ich mag schlichtes und elegantes Design und lege viel Wert auf Typografie, Farbgebung und Benutzerfreundlichkeit. Einen Überblick über meine Leistungen und Fähigkeiten finden Sie weiter unten.</p>
        </blockquote>
    </div>
</section>