<section class="layout-row-top">
  <div class="large-12 columns">
    <h3 class="portfolio-item-title">Kontakt<hr class="h-line"></h3>
    </div>
<div class="large-12 columns">
    <form method="post" action="contact.html" style="margin-top: 3rem;">
      <div class="row">
        <div class="large-12 columns">

            <input type="text" placeholder="Name">
            <input name="email" type="email" placeholder="Email">
            <select name="division">
              <option value="platforms">Bridge Platforms</option>
              <option value="scaffolding">Scaffolding</option>
              <option value="climbers">Mast Climbers</option>
              <option value="other">Other</option>
            </select>
            <textarea name="message" placeholder="Message"></textarea>
            <input id="submit" name="submit" type="submit" value="Submit" class="button">
        </div>

      </div>
    </form>

  </div>
</section>