// Animations
$use-fadeIn: true;
$use-fadeInUp: true;
$use-fadeOut: true;
$use-fadeOutDown: true;
$use-bounce: true;
$use-bounceInUp: true;
$use-bounceOutDown: true;
$use-bounceInDown: true;
// Slide Enter
$use-slideIn: true;
$use-slideInUp: true;
$use-slideInDown: true;
$use-slideInLeft: true;
$use-slideInRight: true;
// Slide Exit
$use-slideOut: true;
$use-slideOutUp: true;
$use-slideOutDown: true;
$use-slideOutLeft: true;
$use-slideOutRight: true;
//Flip
$use-flipInX: true;
$use-flipInY: true;
$use-flipOutX: true;
$use-flipOutY: true;